<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
</head>
<body>
    <header>
        <a href="/cocktails">Home</a>
        <% if(!user){   %> 
        <a href="/auth/google">Sign Up</a>
        <a href="/auth/google">Sign In</a>
        <% }else{ %> 
        <a href="/cocktails/new">New cocktail</a>
        <a href="/users/<%= user?._id %>"><%= user?.name %> </a>
        <a href="/logout">Logout</a>

        <% } %> 
    </header>

    <%- body %> 
    
    <footer>

    </footer>

</body>
</html>