
<div class="container">
<h1> All Cocktails</h1>
</div>
<div class="container">
    <table>
        <tr>
        <th>Cocktail</th>
        <th>Image</th>
        
        </tr>
    <% cocktails.forEach((cocktail, index) => { %> 
        <tr>
            <td><a href="/cocktails/<%= cocktail.id %> "><%= cocktail.title %></a></td>
            <td><%= cocktail.img %></td>
        </tr>
        <% }) %> 
    </table>
</div>

