
<div class="container">
<h1> Cocktails</h1>
</div>
<div class="container">
    <table>
        <tr>
        <th>Cocktail</th>
        <th>Created By</th>
        
        </tr>
    <% cocktails.forEach((cocktail, index) => { %> 
        <tr>
            <td><a href="/cocktails/<%= cocktail.id %> "><button class="btn btn-info"><%= cocktail.title %></button></a></td>
            <td ><%= cocktail.owner?.name %></td>
        </tr>
        <% }) %> 
    </table>
</div>

