

<h1> All Cocktails</h1>
<table>
    <tr>
        <th>Cocktail</th>
        <th>Image</th>
        
    </tr>
    <% cocktails.forEach((cocktail, index) => { %> 
    <tr>
        <td><a href=""><%= cocktail.title %></a></td>
        <td><%= cocktail.img %></td>
    </tr>
    <% }) %> 
</table>