<style>
    body{
    background-image: url('https://images.unsplash.com/photo-1572116469696-31de0f17cc34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFyfGVufDB8fDB8fA%3D%3D&w=1000&q=80');

    }
</style>

<div class="container ">
    <div class="row row-cols-12 ">
    <% cocktails.forEach((cocktail, index) => { %>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">  
            <a href="/cocktails/<%= cocktail.id %> "><button class="btn btn-primary"><%= cocktail.title %></button></a>  
        </div>
    <% }) %> 
    </div>
</div>







