<div class="container">
    <h1>New cocktail</h1>
</div>

<div class="container">
    <form action="/cocktails" method="POST" enctype="multipart/form-data">
        <input class="form-control form-control-lg" type="text" name="title" placeholder="title">
        <input class="form-control form-control-lg" type="text" name="ingredients" placeholder="ingredients">
        <input class="form-control form-control-lg" type="text" name="crafting" placeholder="crafting">
        <input class="form-control form-control-lg" type="file" name="image" placeholder="image">
        <button type="submit" name="submit" value="submit">Submit</button>
    </form>
</div>